body {
    font-size: 20px;
}

/* -------------------------------- NAV BAR ----------------------------------------- */

nav {
    background-color:#01764A;
    color: #F5F5F5;
    height: 120px;    
}

.navbar-brand {
    color: #F5842D;
    font-family: 'Suez One', serif; 
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-brand:hover{
    color: #F5842D;
}

.nav-link {
    color: #F5F5F5;
    font-size: 0.8rem;
    font-weight: 600;
}

.nav-link:focus{
    color:#F5842D;
}

.nav-link:hover{
    color:#F5842D;
}

#nav-padding {
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar-collapse {
    flex-grow: 0;
}

ul {
    padding-right: 3rem;
}

ul li {
    padding: 0rem 0.6rem;
}

.button {
    background-color: #F5842D;
    border: none;
    color: #F5F5F5;
    padding: 0.6rem 2.2rem;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    margin: 10px 2px;
    border-radius: 30px;
    box-shadow: 0px 2.23483px 2.23483px 0px rgba(0, 0, 0, 0.25);
}

@media(max-width:500px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
    #nav-padding {
        padding-left: 3rem;
        padding-right: 3rem;
        }
}

@media(max-width:768px) {
    nav {
        height: 7rem;
    }
}

@media(max-width:576px) {
    nav {
        height: 5.7rem;
    }
}
  

/* ------------------------------ HEADER ------------------------------------  */

header {
    background-color: #01764A;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #F5F5F5;
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

.container-xl {
    padding-left: 5rem;
    padding-right: 5rem;

}

#pricing {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#col-1 .button {
display: block;
}


@media (min-width:1200px) {
.container-xl {
    padding: 1rem;
}
}

@media (max-width:768px) {
#col-1 {
    text-align: center;
    font-size: 1rem;
}

#col-1 .button {
    display: inline-block;
    justify-content: center; 
}
}




/* ------------------------------ SECTION 1 ------------------------------------  */
.section-color-a {
    background-color: #F5F5F5;
    color: #01764A;
}
.p-color-b {
    color: #F5F5F5;
    font-weight: 300;
}

.h2-color-a {
font-family: 'Suez One', serif; 
}

.p-color-a {
    font-weight: 300;
}

.feature p {
    color: black;
}

@media (max-width:768px) {
    .p-color-a, .p-color-b{
        font-size: 1rem;
    }
}

/* ------------------------------ SECTION 2 ------------------------------------  */
/* ------------------------------ SECTION 3 ------------------------------------  */
.section-color-b {
    background-color: #01764A;
}

.h2-color-b {
font-family: 'Suez One', serif; 
color:#F5842D
}

.boxes img{
    padding: 4rem;  
}


/*----------------------------- CAROUSEL ------------------------------------*/
.card {
    border: none;
    width: 22rem;
    background-color: #F5F5F5;
    border-radius: 30px;
}

#card-2 {
    background-color: transparent;
}

.perfil {
    width: 25%;
}

.card-reseña p{
    font-size: 0.8rem;
}

.carousel-control-next, .carousel-control-prev {
    width: 6%
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: url("../img/arrow-left.svg");
}

.carousel-control-next-icon {
    background-image: url("../img/arrow-right.svg");
}

@media (min-width:993px) {
    .carousel-item {
        transition: none;
    }
}

@media (max-width:992px) {
    .carousel-item {
        transition: transform .6s ease-in-out;
    }
}   

@media(max-width:482px) {
    .redes {
      height: 12%;
      margin-bottom: 2rem;
    }
}
  
@media(max-width:768px) {
    .redes {
        margin-bottom: 2rem;
    }
}


/*------------------------------- FORMULARIO ---------------------------------------*/
label {
    font-family: 'Suez One', serif; 
}

input[type="text"],
input[type="email"],
#comentario{
  border: 2px solid #01764A;
  border-radius: 15px;
  padding: 0.5rem 2rem;
}

@media (max-width:768px) {
    #enviar-form {
        margin-bottom: 5rem;
        padding: auto;
    }
}


/*------------------------- FOOTER ---------------------------------*/
h6 {
    font-family: 'Suez One', serif; 
    color: #F5842D;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

.contacto-footer {
    font-weight: 700;
}
